@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background: red;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Roboto;
}

main {
	display: block;
	/* background: green; */
	margin: 10vh 20vw 10vh;
	padding: 20px;
}

#tabs {
	font-size: 1em;
}
