@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background: url(/photos/background.jpg);
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Roboto;
	font-size: large;
}

main {
	display: block;
	background:#b4dba3;
	margin: 10vh 20vw 10vh;
	padding: 20px;
}

#tabs {
	font-size: 1em;
}
main img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;          /* keeps them from overflowing */
  max-width: 100%;     /* makes sure they shrink on small screens */
  height: auto;  /* keeps aspect ratio for images */
}
main div{
	max-width: 100%;
}
main embed{
	width:80%;
    text-align: center;
	margin-left: auto;
    margin-right: auto;
}
main iframe{
	max-width: 100%;
}
@media(max-width:500px){main{margin:0!important;}}
